#cloud-config
package_update: true
packages:
  - podman
users:
  - name: solar
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, sudo
    ssh-authorized-keys:
      - ${pub_key}
  - name: postgres
  - name: proxy
  - name: mastodon
write_files:
  - path: /etc/ssh/sshd_config.d/20-ssh-lockdown.conf
    content : |
      PermitRootLogin no
      PasswordAuthentication no
      AllowUsers solar
    permissions: "0600"
    owner: root:root
